.container {
  margin: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 8vh;
  display: flex;
}
.SubCont1,
.SubCont2 {
  width: 50%;
  height: 100%;
}

.SubCont1 {
  background-color: #6bd066;
  padding: 5% 9%;
}
.SubCont1 h1 {
  font-size: 40px;

  font-weight: 600;
  color: rgb(39, 40, 40);
}
.StoreLogo{
width: 100%;
height: auto;
display: flex;
justify-content: center;
margin-top: 5%;
}


.SubCont1 p {
  font-size: 20px;
}

.lista {
    position: relative;
}
.lista li{
    margin-top: 2%;
    margin-left: 3%;
    font-size: 20px;
    line-height: 31px;
}

.lista li:before{

   content: '';
   margin-top: 2%;
   width: 30px; height:30px;
   position: absolute;
  background-image: url('/media/circulo-de-flecha.png');
  background-position:  center; /* Posiciona la imagen a la izquierda */
  background-size: cover;
  left: -30px;

  
  
}

.SubCont2 {
  
  background-image: url("/media/regFondo2.jpg");
  background-size: cover; 
  background-position: 50% 50%; 
  background-repeat: no-repeat;
  padding: 3% 4%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form{
  width: 70%;
  height: auto;
  padding: 2% 1%;
  background-color: #fff;
  border-radius: 42px 42px 42px 42px;
  box-shadow: 0px 1px 18px 0px rgba(0,0,0,0.75);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.form form{
  width: 80%; height: 80%;
  
}

.form ul{
  
  font-size: 15px;
  color: #5d5b5b;
  list-style-type: disc;

  padding-left: 5%;
}


.form h1{
color: #464545;
font-size: 25px;
}
.form a{
  color: rgb(39, 178, 76);
  text-decoration: underline;
 
}
.boton {
  width: 100%;
  height: auto;
  display: flex; flex-direction: column;
 align-items:center;
}
.boton p{
  margin-top: 3%;
}