@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    /* aqui se reinician los valores de todos los margin y padding de la pag web */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  .Container {
    width: 100vw;
    height: 100vh;
  }
  nav {
    
    width: 100vw;
    height: 9vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 15px #47c13448;
  }
  .NavLogo,
  .NavOptions,
  .NavRegister {
    width: 33vw;
    height: 100%;
    display: flex;
  
    align-items: center;
  }
  .NavOptions,
  .NavRegister {
    justify-content: space-around;
  }
  .NavLogo{
      justify-content: center;
  }
  .NavLogo img {
    height: 80%;
  }
  
  .NavOptions a,
  .NavRegister a {
    text-decoration: none;
  
    color: rgb(53, 52, 52);
  }
  